<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.repository.PackageMapper">

    <insert id="insert" parameterType="tws.entity.Packages">
       insert into `packages` values(#{packages.waybillNum},#{packages.recipients},
       #{packages.phoneNum},#{packages.status},#{packages.appointTime},#{packages.weight});
    </insert>
</mapper>
